# Ignore PDF files
*.pdf

# Generated combined notebook output
Introduction to Data Programming.ipynb

# nbconvert temporary artifacts
*_files/
notebook.tex
notebook.aux
notebook.log
notebook.out
notebook.bbl
notebook.blg
notebook.toc

# Ignore environment files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore my scripts
combine_notebooks.py

for_test.py